/* variables */
/* mixins */
/* index.liquid 'main' block */
/* line 21, _index.sass */
.intro-slider {
  min-height: 50px;
  min-width: 50px;
  background-color: #eeeeee;
  border: 15px double white;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 28, _index.sass */
.intro-slider img {
  max-height: 580px;
}

/* line 32, _index.sass */
.intro h2 {
  margin-top: 5px;
  color: #ff6b00;
  text-align: center;
}
/* line 36, _index.sass */
.intro p {
  margin-bottom: 10px;
  text-align: center;
  font-size: 17px;
}

/* line 41, _index.sass */
.intro-section {
  margin-top: 5px;
  margin-bottom: 50px;
}

/* line 45, _index.sass */
.blender {
  width: 34%;
  max-width: 180px;
}

/* line 49, _index.sass */
.blender-container {
  margin-top: 15px;
  text-align: center;
}

/* line 53, _index.sass */
.grandma {
  width: 25%;
  max-width: 130px;
}

/* line 57, _index.sass */
.grandma-container {
  margin-top: 25px;
  text-align: center;
}

/* line 61, _index.sass */
.intro-photo {
  width: 100%;
  max-width: 520px;
  padding: 5px;
  margin: 10px auto;
}

/* line 67, _index.sass */
.fb-like-box {
  padding: 10px 10px 25px 10px;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block !important;
  max-width: 460px !important;
  min-width: 280px !important;
  width: 100% !important;
  margin: 35px auto 0 !important;
  text-align: center !important;
}
/* line 77, _index.sass */
.fb-like-box span {
  text-align: center !important;
  display: block !important;
  margin: 0 auto !important;
  width: 95% !important;
}
/* line 82, _index.sass */
.fb-like-box iframe {
  display: block !important;
  margin: 0 auto !important;
  width: 100% !important;
}

/* line 87, _index.sass */
#mc_embed_signup {
  margin-top: 0;
  padding: 0;
  background: white;
  clear: left;
}
/* line 92, _index.sass */
#mc_embed_signup label {
  text-transform: uppercase;
  font-family: "Gloria Hallelujah", cursive;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-size: 19px;
}
/* line 98, _index.sass */
#mc_embed_signup .deals {
  font-family: "Gloria Hallelujah", cursive;
  color: #ff4368;
  font-size: 16px;
}

/* line 103, _index.sass */
#mc-embedded-subscribe-form {
  padding-left: 5px !important;
}
/* line 105, _index.sass */
#mc-embedded-subscribe-form .email {
  width: -webkit-calc(100% - 5px) !important;
  width: -moz-calc(100% - 5px) !important;
  width: calc(100% - 5px) !important;
}

/* line 108, _index.sass */
#mc-embedded-subscribe {
  width: 140px !important;
  height: 45px !important;
  background-color: #00af40 !important;
}

/* Variables */
/* mixins */
@media (max-width: 1200px) {
  /* line 13, _media_queries.sass */
  .intro-slider img {
    width: 500px;
    height: auto;
  }
}
@media (max-width: 991px) {
  /* line 18, _media_queries.sass */
  .blender-container {
    margin-top: 30px;
  }

  /* line 20, _media_queries.sass */
  .navbar-nav li {
    margin-top: 0;
    border-top: 1px solid #eeeeee;
  }

  /* line 23, _media_queries.sass */
  .intro-slider {
    margin: 0 auto;
  }

  /* line 25, _media_queries.sass */
  #mc_embed_signup {
    width: 500px;
    margin: 20px auto;
  }
}
@media (max-width: 767px) {
  /* line 30, _media_queries.sass */
  .social-media-nav {
    position: static !important;
    text-align: right;
  }
}
@media (max-width: 640px) {
  /* line 36, _media_queries.sass */
  .menu th, .menu td {
    display: block;
  }
  /* line 38, _media_queries.sass */
  .menu th {
    width: 100% !important;
  }
}
@media (max-width: 540px) {
  /* line 42, _media_queries.sass */
  .intro-slider img {
    width: 400px;
  }

  /* line 44, _media_queries.sass */
  #mc_embed_signup {
    width: 400px;
    margin: 20px auto;
  }
}
@media (max-width: 460px) {
  /* line 49, _media_queries.sass */
  .logo-image {
    width: 280px !important;
  }

  /* line 51, _media_queries.sass */
  .navbar-brand {
    padding-left: 0;
  }
}
@media (max-width: 440px) {
  /* line 55, _media_queries.sass */
  .intro-slider img {
    width: 280px;
  }

  /* line 57, _media_queries.sass */
  .intro-photo {
    width: 280px;
  }

  /* line 59, _media_queries.sass */
  #mc_embed_signup {
    width: 100%;
    margin: 20px auto;
  }

  /* line 62, _media_queries.sass */
  .wrap {
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  /* line 66, _media_queries.sass */
  .fb-like-box {
    padding: 10px 0 25px 0 !important;
    width: 300px !important;
    position: relative !important;
    left: -5px !important;
  }
  /* line 71, _media_queries.sass */
  .fb-like-box iframe {
    position: relative !important;
    left: -7.5px !important;
  }
}
/* Variables */
/* line 10, _menu.sass */
.tab-content {
  margin-top: 50px;
}

/* line 14, _menu.sass */
.menu tr {
  height: 60px;
  font-family: "Gloria Hallelujah", cursive;
}
/* line 17, _menu.sass */
.menu tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
/* line 20, _menu.sass */
.menu td {
  font-size: 16px;
}
/* line 22, _menu.sass */
.menu th {
  font-size: 18px;
  width: 180px;
}

/* line 26, _menu.sass */
#smoothies td {
  color: #ff4368;
}

/* line 29, _menu.sass */
#juices td {
  color: #00af40;
}

/* line 32, _menu.sass */
#specialty td {
  color: #ff6b00;
}

/* line 35, _menu.sass */
.menu-nav {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 20px;
}
/* line 40, _menu.sass */
.menu-nav a {
  text-align: center;
  color: black;
  background-color: white;
}
/* line 44, _menu.sass */
.menu-nav a:hover {
  color: #ff6b00 !important;
  background-color: white !important;
}
/* line 47, _menu.sass */
.menu-nav .active a {
  color: #ff6b00 !important;
  background-color: white !important;
}

/* line 52, _menu.sass */
#specialty th {
  width: 260px;
}

/* line 55, _menu.sass */
.menu-nav li {
  margin: 0 auto !important;
  width: 130px;
}

@block import 'Compass';
/* variables */
/* line 8, _about.sass */
.about-img-container {
  margin-bottom: 30px;
}
/* line 10, _about.sass */
.about-img-container img {
  border: 2px solid #aaaaaa;
  margin: 0 auto;
}

/* Variables */
/* Defaults */
/* line 18, custom.css.sass */
html, body {
  height: 100%;
  max-width: 100% !important;
}

/* line 22, custom.css.sass */
.wrap {
  min-height: 86%;
}

/* line 25, custom.css.sass */
.left {
  float: left;
}

/* line 28, custom.css.sass */
.right {
  float: right;
}

/* line 31, custom.css.sass */
.clear {
  clear: both;
}

/* line 34, custom.css.sass */
.list-unstyled {
  list-style-type: none;
}

/* line 37, custom.css.sass */
.orange {
  color: #ff6b00;
}

/* line 40, custom.css.sass */
.green {
  color: #00af40;
}

/* line 43, custom.css.sass */
.pink {
  color: #ff4368;
}

/* Navbar */
/* line 47, custom.css.sass */
.navbar {
  position: relative;
  margin-bottom: 20px;
}

/* line 51, custom.css.sass */
.logo-image {
  width: 320px;
  height: auto;
}

/* line 55, custom.css.sass */
.navbar-nav {
  padding: 0 20px;
  font-size: 24px;
}
/* line 58, custom.css.sass */
.navbar-nav a {
  margin-top: 5px;
  color: #00af40;
}
/* line 61, custom.css.sass */
.navbar-nav a:hover {
  background-color: white !important;
  color: rgba(0, 175, 64, 0.8);
}

/* line 65, custom.css.sass */
.social-media-nav {
  position: relative;
  left: 150px;
  margin: 10px 2px;
}
/* line 69, custom.css.sass */
.social-media-nav li {
  border-top: none;
}
/* line 71, custom.css.sass */
.social-media-nav li a {
  display: inline;
  padding: 3px;
}

/* Footer */
/* line 77, custom.css.sass */
.main-footer {
  height: 120px;
  padding: 50px 20px 0;
}

/* line 81, custom.css.sass */
.footer-nav-list {
  text-align: center;
}
/* line 83, custom.css.sass */
.footer-nav-list a {
  color: #ff6b00;
}
